html, body {
  font-family: Helvetica, sans-serif;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#subBox {
  height: 700px;
  max-width: 780px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid lightgrey;
 /* background-image: radial-gradient(circle, grey, white); */
}

.links {
  font-size: large;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(208, 227, 208);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

#GetSubmissions {
  padding: 10px;
  width: 100%;
  display: block;
  margin-top: 50px;
  align-items: center;
}

h1 {
  text-align: center;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
ul {
  display: block;
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

}
ul li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;

}
body ul li span {
  font-family: arial;
  font-size: 14px;
  text-align: center;
}
body ul li img {
  margin: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
}

p strong {
  color: red;
}

.highlight {
  color: green;
}

.tip {
    position: absolute;
    padding: 10px;
    background-color: grey;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
  text-align: center;
}
form {
  margin: 0 auto;
}
form input[type=text], form input[type=password], form input[type=number] {
  width: 50%;
  padding: 10px;
}
button {
  padding: 10px;
  width: 30%;
  display: block;
  margin-top: 20px;
}
button:hover {
  background-color: grey;
  color: white;
}
form label {
  padding: 5px 0;
  display: block;
  margin-top: 15px;
}
form .error {
  font-size: 80%;
  color: darkred;
}
#Output {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 5px;
    margin: 20px 0;
    background: white;
}